* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff; /* Fundo suave */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
}

/* Estilo do formulário */
div {
    background-color: #ffffff; /* Fundo branco */
    padding: 30px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 300px; /* Largura fixa */
    text-align: center; /* Centraliza o texto */
}

/* Estilo do legend */
h2 {
    font-size: 1.8em;
    color: #007BFF; /* Azul */
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin-top: 20px; /* Espaçamento acima */
}

nav ul li {
    margin: 10px;
    display: list-item; /* Alinhamento horizontal */
}

nav ul li a {
    text-decoration: none;
    color: #007BFF; /* Azul */
    font-weight: bold; /* Texto em negrito */
}

nav ul li a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}